.modal-container {
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.6);

    .modal {
        display: flex;
        flex-direction: column;
        background: #fff;
        box-shadow: 0 0 5px #555;
        width: 50%;
        max-width: 80vw;
        max-height: 80vw;
        border: none;
        margin-top: 20%;
        border-radius: 5px;
    }
}