.menu-img {
    max-width: 30px;
    max-height: 30px;
    padding-top: 30px;
    float: right;
    padding-left: 5px;
    padding-right: 5px;
}

.logo-img {
    max-height: 125px;
}

.menu-elemment {
    display: inline;
}

.menu {
    display: inline;
}